@using MVCStokTakip.Models.Entity
@model List<tblKategori>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayaout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>KATEGORİ ADI</th>
        <th>SİL</th>
        <th>GÜNCELLE</th>

    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.kategoriId</td>
            <td>@x.kategoriAd</td>
            <td><a href="/Kategori/KategoriSil/@x.kategoriId" class="btn btn-danger">Sil</a></td>
            <td><a href="/Kategori/KategoriGetir/@x.kategoriId" class="btn btn-success">Güncelle</a></td>


        </tr>
    }
</table>
<a href="/Kategori/YeniKategori/" class="btn btn-primary">Yeni Kategori</a>

