@model MVCStokTakip.Models.Entity.tblKategori

@{
    ViewBag.Title = "KategoriGetir";
    Layout = "~/Views/Shared/_AdminLayaout.cshtml";
}


@using (Html.BeginForm("KategoriGuncelle", "Kategori", FormMethod.Post))
{
    <h2>Kategori Güncelleme</h2>
    @Html.HiddenFor(x => x.kategoriId, new { @class = "form-control" })
    <br />
    @Html.TextBoxFor(x => x.kategoriAd, new { @class = "form-control" })
    <br />
    <button class="btn btn-warning">Güncelle</button>
}



